<div id="user-widget" >
  <% if session[:player_id] %> 

  	<ul class="nav">
      <li><%= link_to "Go to Game", "/game", id: "game" %></li>
    </ul>

    Welcome <strong><%= @player.name %></strong>!

  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
