html {

    padding-top: 75px;
    background: #989898;
    /*color: #817999;*/
    color: black;
    /*font-size: 200%;*/
    text-align: center;
    letter-spacing: 4px;
}

#title {
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    text-align: left;
}


a {
  text-decoration: none;
  color: white;
  font-size: 10px;
}

img {
    padding-top: 25px;
}

/*#topnav {
  float: right;
  height: 90px;
  background-color: #404040;
  position: fixed;
  top:0;
  width: 100%;
  display: block;
  font-family: 'Press Start 2P', cursive;
  font-size: 25px;
  
}*/

#topnav {
  height: 70px;
  background-color: #787878;
  position: fixed;
  top:0;
  width: 100%;
}

#brand {
  float: left;
  color: white;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  font-size: 32px;
  font-family: 'Press Start 2P', cursive;
}

#brand:hover {
  color:tomato;
}

#logout {
  float: right;
  height: 50px;
  padding-right: 20px;
  padding-top: 0px;
  font-size: 25px;
  font-family: 'Press Start 2P', cursive;
}

#logout a {
  color: white;
  text-decoration: none;
  line-height: 50px;
}

#logout a:hover {
  color: tomato;
}

ul {
  list-style-type: none
}

li {
  display: center;
  margin-right: 20px;
  float: right;
 color: white;
}

#board {
    margin: 0px auto;
    height: 400px;
    width: 400px;
    
}

#board .column {
    height: 50px;
    width: 50px;
    background: #A198C0;
    float: left;
    font-size: 45px;

}

#board .column.dark {
    background: #B7ACD9;
}

#board .column div {
    height: 50px;
    width: 50px;
}

#board .column .WHITE_KING {
    background: url('../images/wKing.png');
}

#board .column .WHITE_QUEEN {
    background: url('../images/wQueen.png');
}

#board .column .WHITE_ROOK {
    background: url('../images/wRook.png');
}

#board .column .WHITE_BISHOP {
    background: url('../images/wBishop.png');
}

#board .column .WHITE_KNIGHT {
    background: url('../images/wKnight.png');
}

#board .column .WHITE_PAWN {
    background: url('../images/wPawn.png');
}


#board .column .BLACK_KING {
    background: url('../images/bKing.png');
}

#board .column .BLACK_QUEEN {
    background: url('../images/bQueen.png');
}

#board .column .BLACK_ROOK {
    background: url('../images/bRook.png');
}

#board .column .BLACK_BISHOP {
    background: url('../images/bBishop.png');
}

#board .column .BLACK_KNIGHT {
    background: url('../images/bKnight.png');
}

#board .column .BLACK_PAWN {
    background: url('../images/bPawn.png');
}

#board .column .EMPTY {
    background: none;
}
.column.possibleLocations{
    background-color: yellow !important;
}